# Polynomial Regression Model:
<img src='https://static.wixstatic.com/media/2d2ac8_52b733aca9e24d17839e87c2492dd634~mv2.png/v1/fill/w_623,h_321,al_c/2d2ac8_52b733aca9e24d17839e87c2492dd634~mv2.png' width='600' hight='600'>

## Outline:
* What is Linear Regression?
* What is Multilinear Linear Regression?
* What is polynomial Regression?
* Practical

## Linear Regression Model:
<img src='https://th.bing.com/th/id/OIP.h5XnhwnY5kbxOFB4wbEFjwAAAA?pid=ImgDet&rs=1' width='400' hight='400'>

### Note:
* When our dataset is linear distributed with single feature then we use this model.

## Multilinear Regression Model:
<img src='https://kr.mathworks.com/help/stats/categorial_slopes1.png' width='400' hight='400'>

### Note:
* When we have multiple features then we use this model.

## Polynomial Regression Model:
<img src='https://cdn-images-1.medium.com/max/1200/1*Cat1swI8xmNYui6w5AYp8A.gif' width='400' hight='400'>

### Note:
* When our data points distributed exponential (non-linear) then we use this model.

## Formule:
<img src='https://miro.medium.com/max/2600/1*2ZnDb5b6UtBZ41Wy90MTkw.jpeg' width='600' hight='600'>

### Caution:
* Polynomial methods are used when our data is non-linearly distributed.
* We can choose dgree of polynomial according to the requirment.
* If the volume of data is high & degree of polynomial is also high then we need high computation power.(Time Taking)
* Gerneraly we don't use it.

## Polynomials Degree vs Graphs:

## Practical: Banglore House Prediction cleaned dataset:

### Step 1: Loading The Libraries:

In [1]:
import pandas as pd
import numpy as np

### Step 2: Loading The Cleaned Dataset:

In [3]:
df=pd.read_csv('Cleaned Banglore House Price Prediction Data.csv')

In [4]:
df.head()

,area_type,availability,location,bath,balcony,price,new_size,new_total_sqft,price_per_sqft
0,3,38,341,2.0,1.0,39.07,2,1056.0,3699.810606
1,2,77,251,5.0,3.0,120.00,4,2600.0,4615.384615
2,0,77,964,2.0,3.0,62.00,3,1440.0,4305.555556
3,3,77,629,3.0,1.0,95.00,3,1521.0,6245.890861
4,3,77,592,2.0,1.0,51.00,2,1200.0,4250.000000

### Step 3: Spliting the dataset:

In [26]:
X=df.drop('price',axis=1)
y=df['price']

print('Shape of X = ', X.shape)
print('Shape of y = ',y.shape)

Shape of X =  (11018, 8)
Shape of y =  (11018,)

In [27]:
# Test & Train split
from sklearn.model_selection import train_test_split
X_train,X_test, y_train, y_test = train_test_split(X,y,test_size=.3,random_state=65)

print('Shape of X_train = ',X_train.shape)
print('Shape of y_train = ', y_train.shape)
print('Shape of X_test = ', X_test.shape)
print('Shape of y_test = ',y_test.shape)

Shape of X_train =  (7712, 8)
Shape of y_train =  (7712,)
Shape of X_test =  (3306, 8)
Shape of y_test =  (3306,)

### Step 4: Feature Scaling (changing into array):

In [28]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
sc.fit(X_train)
X_train = sc.transform(X_train)
X_test = sc.transform(X_test)

### Step 5: Polynomial Linear Regression - ML Model Training

In [30]:
# Importing the models:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures

lr=LinearRegression()
pf=PolynomialFeatures

In [31]:
# Fitting the model into polynomial form:
poly_reg=pf(degree=2)
poly_reg.fit(X_train)
X_train_poly=poly_reg.transform(X_train)
X_test_poly=poly_reg.transform(X_test)

In [32]:
# Checking the dataset:
X_train_poly.shape, X_test_poly.shape

((7712, 45), (3306, 45))

#### Note:
* The number of columns increases more than five time using the polynomial regression.

In [33]:
# Now we use lInear Regression Model for our polinomial fitting:
lr.fit(X_train_poly, y_train)

LinearRegression()

### Step 6: Testing The Model's Score:

In [34]:
lr.score(X_test_poly,y_test,)

1.0

### Conclusion:
* Our score is `1 means 100%` which is the best score.

### Step 7: Predict The Price Using This Model:

In [38]:
# Single (0th position) house price prediction:
lr.predict([X_test_poly[0,:]])

array([98.])

In [41]:
# Multiple house price (X_test_poly) price prediction:
y_pred=lr.predict(X_test_poly)
y_pred

array([98.  , 55.  , 38.08, ..., 46.  , 77.  , 24.  ])

### Step 8: Verify with actual value:

In [40]:
y_test

7600     98.00
8647     55.00
9936     38.08
8973     45.00
8471     60.48
         ...
9464     54.00
4366     55.00
10740    46.00
2909     77.00
2771     24.00
Name: price, Length: 3306, dtype: float64

### Step 9: Error Finding:

In [46]:
# Using RMSE
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test,y_pred)
rmse = np.sqrt(mse)

print('Mean Squre Error = ',mse)
print('Root Mean Square Error = ',rmse)

Mean Squre Error =  2.4235861960027646e-25
Root Mean Square Error =  4.922993191141711e-13

### Conclusion:
* We can see these errors are very less in in rounded form they are Zero.